@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;900&display=swap');
.txt__white{color: #fff;}
.container{
    max-width: 1108px;
    margin: 0 auto;
}
header{
    background:url(../image/headerbg.jpg) center/cover;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
nav{
    display: flex;
    flex-direction:column ;
    justify-content: space-between;
    width: 100%;
    text-align: center;
}
header nav ul{
    width: 200px;
    margin: 10px auto;
    background: rgba(83, 209,83, .3);
    border-radius: 15px;
  
}
nav div{
    text-align: center;
    margin: 5px 0 0 0;
}
header ul li{
    margin: 10px 0;
}
header nav ul li a{
    display: inline-block;
    font: bold 1em Arial;
   padding: 5px 3px 0 3px;
}
nav form input {
    padding: 6px 15px;
    width: 30px;
    background: rgba(255, 255, 255, .6) url(../image/searchicon.png) right no-repeat;
    background-size:25px 25px ;
    outline: none;
    border: none;
    border-radius: 14px;
    font: 1em Arial;
    color: #111;
    transition: width 0.3s linear, box-shadow .3s linear;
}
nav form input:hover{
    cursor: pointer;
    box-shadow: 0 4px 10px  rgba(83, 209,83, .3);
    
    
}
nav form input:focus{
    width: 215px;
    box-shadow: 0 4px 10px  rgba(83, 209,83);
    cursor: text;
    
  
    
}


#intro{
    text-align: center;
}
#intro h2 {
    font: 900 1.8em Raleway ;
    text-shadow: 0 0 10px #53d153;
    margin:  0 0 5px 0;
}
#intro button{
    padding: 10px 27px;
    border-radius: 24px;
    background: #53d153;
    outline: none;
    border: none;
    cursor: pointer;
     transition: transform .2s linear;
}
#intro button:hover{
    box-shadow: 0 0 10px #53d153;
    transform: scale(1.1);
   
}
header p{
    padding: 7px 10px;
    background: rgba(255, 255, 255, .6);
    border-radius: 13px;
    margin: 0 0 10px 0;
}
#about,#works,#client,#team{
    
    padding: 40px 0 70px 0;

}
.col{
    margin: 20px 0 0 0;
    display: flex;
    flex-direction: column;
}
.col > article{
    
    text-align: center;
    margin: 30px 0 0 0;
    width: 300px;
    margin: 0 auto; 
}
.col img{
    padding: 30px 17px 34px 17px ;
    border-radius: 28px;
    background: #e0f3e0;
    margin: 0 0 15px 0;
}
#photo{
    padding: 34px 17px 35px 17px;
}
#about h3{
    text-align:center;
    font-size: 1.2em;
}
#about p{
    text-align:center;
    font-size: 1em;
}
.line{
    width: 44px;
    border: none;
    border-top: 2px solid #828181;
}
.line2{
    width: 44px;
    border: none;
    border-top: 2px solid #1f7b1f;
}
.gray h3{
    color: #828181;
}
.gray p{
    color: #b7b3b3;
}
.green h3{
    color: #207b20;
} 
.green p{
    color: #2b9b2b;
}
#about article h4{
    font: bold 1.5em Arial;
    color: #828181
}
.col a{ 
    display: inline-block;
    margin: 20px 0 20px 0;
    padding: 5px 20px;
    background: #53d153;
    border-radius: 15px;
    font-weight: bold;
    transition: transform .2s linear;
}
#works{
    background: #54d154;
}
#works h3,p,#testimonial h3,p,#client,#team{
    text-align: center;
}
#button{
    margin: 60px 0 0 0;
  display: flex;
  flex-direction: row;
  justify-content: center;  
    
}
#button2{
    margin: 60px 0 0 0;
  display: flex;
  flex-direction: row;
  justify-content: center;  
    
}
#button label{
    color: #2b9b2b;
   background: #fff;
    padding: 10px 15px;
    border: 1px solid #2b9b2b;
    float: left;
    
    
}
#button2 a{
    color: #2b9b2b;
   background: #fff;
    padding: 10px 15px;
    border: 1px solid #2b9b2b;
    float: left;
    
    
}
#button2 a:first-child{ 
    color: #fff; 
    background:#2b9b2b;
    border-radius: 15px 0 0 15px;
    border-right: none;
}
#button2 a:last-child{
    border-left: none;
    border-radius: 0 15px 15px 0;
}
#button label:first-child{ 
  
    border-radius: 15px 0 0 15px;
    border-right: none;
}
#button label:last-child{
    border-left: none;
    border-radius: 0 15px 15px 0;
}


#button  label:hover{

    color: #fff; 
    background:#2b9b2b;
}
#gallery{
    display: flex;
    max-width: 100%;
    margin: 20px auto;
    flex-wrap: wrap;
    justify-content: center;
}
#gallery img{
    width: 33%;
    margin: 5px;
}
#button__last{
    text-align: center;
    margin: 70px 0 0 0;
}
#button__last a{
    padding: 12px 17px;
    background: #2b9b2b;
    border-radius: 20px;
    transition: 0.3s linear;
    
}
#button__last a:hover{
   box-shadow: 0 0 10px #2b9b2b ;
   transform: scale(1.1);
}
#testimonial{
    padding: 40px 0 70px 0;
}
#testimonial > p,#client>p,#team > p,#about > p, .container >p{
    padding: 0 30px;
}
#team{
    padding: 40px 10px 70px 10px;
}
.slider{
    margin: 70px 0 0 0;
}
.slider p{
    color: #444; 
    width: 300px;
    margin: 0 auto;
}
.item{
    position: relative;
    max-width: 540px;
    margin: 0 auto;
}
.item h5,h6{
   text-align: left;
 
   
}
.item h5{
    color: black;
    padding: 10px  0 0 0;
}
.user {
    width: 200px;
    margin: 20px auto;
}
.user h6{
    color: #ccc;
}
.user img{
   margin: 0 5px 0 0;
    float: left;
}
.slider__bnt{
    transform: translate(0,-50%);
    background: #fff;
    outline: none;
    border: none;
    cursor: pointer;
}
.slider__bnt i:hover{
    box-shadow: 0 0 10px #53d153;
}
.slider__bnt i{
    color: #dfdfdf;
    font-size: 30px;
    padding: 5px 10px;
    border-radius:100%;
    transition: .2s linear;
}
#sld__btn1{
    position: absolute;
    top: 50%;
    left: 0;
}
#sld__btn2{
    position: absolute;
    top: 50%;
    right: 0;
}
#client{
    background: #f2f1f1;
}
.partner{
    margin: 70px auto;
    max-width: 920px;
}

.partners1, .partners2{
    display: flex;
    flex-wrap: wrap;
    justify-content:space-around;
}
.partner img{
    margin: 10px ;
}
#btn__client{
    color: #a9a1a1;
    padding: 13px 10px 13px 30px;
    border-radius: 20px;
    background: #dddcdc;
    transition: .3s linear;
}
#btn__client span{
    margin: 0 0 0 20px;
}
#btn__client:hover{
    box-shadow: 0 0 10px #a9a1a1;;
}
#team{
    background: #53d153;
}
.team{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    max-width: 920px;
    margin: 50px auto 0 auto;
}
.team h4{
    margin: 0 0 15px 0;

}
.soc{
    display: flex;
    justify-content: space-around;
    
    width: 84px;
    margin: 0 auto 30px auto;
    padding: 5px;
    border-radius: 14px;
    background: #c5e9c5;


}
.soc a{
    font-size: 20px;
    color: #0061ff;
    transition: text-shadow .1s linear, transform .2s linear ;
}
.soc a:first-child{
    color: #e94b89;
}
.soc a:last-child{
    color: #00abed;
}
.soc a:hover{
    text-shadow:0 5px 10px #0061ff;
    transform: scale(1.1);
}
.soc a:first-child:hover{
    text-shadow:0 5px 10px #e94b89;
}
.soc a:last-child:hover{
    text-shadow:0 5px 10px #00abed;
}


.line3{
    
    width: 1px;
    border: none;
    border-right: 1px solid #1f7b1f;
    border-left: 1px solid #1f7b1f;
    height: 77px;
}
.button__end{
    background: #3eba3e;
    text-align: center;
    padding: 25px;
}
.button__end button{
    padding: 12px 17px;
    background:#53d153;
    outline: none;
    border: none;
    border-radius: 20px;
    cursor: pointer;
   transition: box-shadow .2s linear,transform .2s linear;
}
.button__end button:hover{
    box-shadow: 0 0 10px #39ac39;
    transform: scale(1.1);
}
.container__footer{
    max-width: 1108px;
    margin: 0 auto;
    display: flex;
    text-align: center;
    flex-direction: column;
   
}
.container__footer article{
    border: 1px solid #fff;
    border-radius: 20px 0 20px 0;
    padding: 20px;
    margin: 20px auto;
    width: 348px;
}
#footer_first{
    background: #333;
    padding: 32px 0 ;
}
#first{
    width: 348px;
    margin: 0 auto;
}
.line4{
    width: 44px;
    border: none;
    border-top: 2px solid #ddd;
}
#items-f:first-child{
    margin: 26px 0 10px 0;
}
#items-f{
  width: 290px;
  margin: 0 auto 10px auto;
}
.h4-f{
    float: left;
    margin: 0 0 0 10px;
    color: #ccc;
}
#a-1{
    float: left;
    margin: 5px 0 0 10px;
    padding: 5px 7px;
    background: #53d153;
    border-radius: 4px;
    color: #f4fcf4;
    transition:box-shadow .2s linear
}
#a-1:hover{
    box-shadow: 0 2px 10px  #53d153 ;
}
#a-2{
    float: left;
    margin: 5px 0 0 10px;
    padding: 5px 7px;
    background: #ffba00;
    border-radius: 4px;
    color: #f4fcf4;
    transition:box-shadow .2s linear
}
#a-2:hover{
    box-shadow: 0 2px 10px  #ffba00 
}
#a-3{
    float: left;
    margin: 5px 0 0 10px;
    padding: 5px 7px;
    background: #089cea;
    border-radius: 4px;
    color: #f4fcf4;
    transition:box-shadow .2s linear
}
#a-3:hover{
    box-shadow: 0 2px 10px  #089cea ;
}
#a-4{
    float: left;
    margin: 5px 0 0 10px;
    padding: 5px 7px;
    background: #f34c03;
    border-radius: 4px;
    color: #f4fcf4;
    transition:box-shadow .2s linear ;
}
#a-4:hover{
    box-shadow: 0 2px 10px  #f34c03 ;
    
}
#a-5{
    float: left;
    margin: 5px 0 0 10px;
    padding: 5px 7px;
    background: #ffba00;
    border-radius: 4px;
    color: #f4fcf4;
    transition:box-shadow .2s linear
}
#a-5:hover{
    box-shadow: 0 2px 10px  #ffba00 ;
    transition: .2s linear;

}
#img-1{
    float: left;
    width: 54px;
    height: 54px;
    background: url(../image/gallery.jpg) center/cover;
}
#img-2{
    float: left;
    width: 54px;
    height: 54px;
    background: url(../image/gallery2.jpg) center/cover;
}
#img-3{
    float: left;
    width: 54px;
    height: 54px;
    background: url(../image/gallery3.jpg) center/cover;
}
#img-4{
    float: left;
    width: 54px;
    height: 54px;
    background: url(../image/gallery4.jpg) center/cover;
}
#img-5{
    float: left;
    width: 54px;
    height: 54px;
    background: url(../image/gallery5.jpg) center/cover;
}
#first h4,#two h4,#last h4{
    color: #ddd;
}
#first p{
   padding: 0 20px;
    margin: 0 0 30px 0;
    color: #c2c2c2;
}
#items-f::after {
    content: "";
    clear: both;
    display: table;
}
#last p {
    line-height: 1.3;
    color: #afafaf;
    font-size: .8em;
}
#form__footer{
    display: flex;
    flex-direction: column;
    margin: 20px auto ;
    width: 300px;
    
}
#form__footer input{
    padding: 12px;
    border: none;
    margin: 2px 0 0 0 ;
    background: #444;
}
textarea{
    padding: 12px 0 0 12px;
    border: none;
    margin: 2px 0 ;
    background: #444;
}
#form__footer input:first-child{
    border-radius: 5px 5px 0 0;
}
#btn-footer{
    padding: 12px 0;
    margin: 2px 0 0 0;
    border: none;
    background: #2b9b2b;
    color: #fff;
    border-radius: 0 0 5px 5px;
    cursor: pointer;
    transition: box-shadow .2s linear;
}
#btn-footer:hover{
    box-shadow: 0 2px 10px #2b9b2b ;
}
#footer__two{
    padding: 30px 0;
    background: #212121;
}

footer #footer__two  h4{
    color: #101010;
    text-align: center;
    
}
.line5{
    width: 30px;
    border: none;
    border-top: 2px solid #0f0f0f;
}
#container_icon{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    max-width: 980px;
    margin: 0 auto;
}
#container_icon img{
    margin: 5px;
}
#container_icon .order{
    order: -1;
}
.footer__last{
    text-align: center;
    padding: 5px 0 10px 0;
    background: #111;
}
.footer__last p{
    font-size: .8em;
}
.footer__last p span img{
    width: 20px;
}


/*----Mobile--Layout------*/
@media only screen and (min-width:600px){
    #gallery img{
        width: 25%;
    }
    .container__footer{
        
        flex-direction: row;
        justify-content: space-around;
        flex-wrap: wrap;
    }
    .container__footer article{
        margin: 20px 0 ;
        
    }
    #first{
        margin: 20px 0;
    }
}



@media only screen and (min-width:990px){

    nav{
     display:block;
     width: 100%;
     position: relative;
     
    }
    header nav ul{
       display: inline;
       position: absolute;
       width: auto;
       background: none;
       left: 30px;
       top: 0;
       margin: 0;

    }
    header nav ul li{
        display: inline-block;
        margin: 0 10px 0 0 ;
        border-top: 5px solid transparent;
    }
    header nav ul li:first-child{
        border-top: 6px solid #53d153;
        text-shadow: 0 0 10px  #53d153;
    }
    header nav ul li:hover{
        border-top: 6px solid #53d153;
        text-shadow: 0 0 10px  #53d153 ;
        background: rgba(83, 209,83, .3) ;
        transition: .2s linear;
    }
    header nav div{
        position: absolute;
        right:  50%;
        transform: translate(50%, 0);
    }
    nav form{
        position: absolute;
        right: 30px;
        top: 5px;
    }
    #intro h2 {
       font-size: 3.4em;
    }
    .col{
        flex-direction: row;
        justify-content: space-between;
        margin: 80px 0 0 0;
    }
    .col img{
        margin: 0 0 35px 0;
    }
    .col article{
        width: 260px;
        margin: 0;
       
    }
    .col a:hover{
        box-shadow: 0 0 10px #53d153 ;
        transform: scale(1.1);
    }
    #gallery{
        display: flex;
        justify-content: center;
        width: 920px;
        margin: 60px auto;
    }
    #gallery img{
        width: 160px;
       
    }
    .container__footer{ 
        flex-direction: row;
        justify-content: space-between;
       
    }
    .container__footer article{
        border: none;
        margin: 0%;
        border: none;
        padding: 0 10px;
        width: auto;
    }
    #first{
        margin: 0;
    }
    textarea{
        margin: 2px 0 ;
    }
    #container_icon{
        flex-direction: row;
    }
}
